.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
}

.nav-menu {
  position: fixed; /*important*/
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  left: -100%;
  transition: 850ms;
  top: 0;
}
.nav-menu.active {
  background-color: black;
  left: 0;
  transition: 350ms;
}
.nav-text {
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
}
.nav-text a:hover {
  background-color: #1a83ff;
}